<ion-header>
  <ion-toolbar>
    <ion-title>
      Parkable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        
        <div class="row">
          <div class="col">
              <div class="text-center">
                  <h5 style="text-align: center;">or</h5>
              </div>
          </div>
      </div>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


